<p id="notice"><%= notice %></p>

<h1>Friends</h1>

<table>
  <thead>
    <tr>
      <th>Friend</th>
      <!-- <th>Sender</th> -->
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    
    <% @friend_req.each do |friend_req| %>
      <tr>
        <% if current_user != friend_req.acceptor %>
          <td><%= friend_req.acceptor.name %></td>
          <td><%= friend_req.status %></td>
          <td><%= link_to 'Show', friend_req %></td>
          <td><%= link_to 'Unfriend', friend_req, method: :delete, data: { confirm: 'Are you sure?' } %></td>``

          

        <% else %>
          <td><%= friend_req.sender.name %></td>
          <td><%= friend_req.status %></td>
          <td><%= link_to 'Accept Request',friend_path(:friend_path => {:sender_id => friend_req.sender,:acceptor_id => current_user , :status  => 'TRUE'},:id => friend_req.id), :method => :put  %></td>
          <td><%= link_to 'Show', friend_req %></td>
          <td><%= link_to 'Unfriend', friend_req, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
    
  </tbody>
</table>

<br>

<%= link_to 'New Friend', new_friend_path %>
