<script type="text/javascript">
    
    $(document).ready(function(){
    
    $(".alert" ).fadeOut(1000);

});
  </script>

 
<!-- <div class="alert"> -->
<% flash.each do |key, value| %>
      <div class="<%= flash_class(key) %>" id = "notice">
            <%= value %>
      </div>
<% end %>
<!-- </div> -->

<p>
  <strong>Acceptor:</strong>
  <%= @friend.acceptor_id %>
</p>

<p>
  <strong>Sender:</strong>
  <%= @friend.sender_id %>
</p>

<p>
  <strong>Status:</strong>
  <%= @friend.status %>
</p>


<%= link_to 'Back', friends_path %>
