	<script type="text/javascript">
		
	$(document).ready(function(){
    
    $(".alert" ).fadeOut(3000);

});
	</script>

	<style type="text/css">

	.hidden{
	display:none;
	}
	</style>

	<!-- <p id="notice" class="alert alert-success" role="alert"><%= notice %></p> -->
<!-- <div class="alert"> -->
	<% flash.each do |key, value| %>
      <div class="<%= flash_class(key) %>" role="alert" id ='notice'>
            <%= value %>
      </div>
	<% end %>
<!-- </div> -->

	<p>
	<!-- <strong>Title:</strong> -->
	<h3> <%= @post.title %></h3>
	</p>

	<p>
	<!-- <strong>Description:</strong> -->
	<%= @post.description %>
	</p>

	<p>
	<strong>Post By:</strong>
	<%= @post.user.name %>
	</p>


	<%= form_for ([@post, @post.likes.build]) do |f| %>
	<p class = "hidden">
	<%= f.label :user_id, value: current_user.id  %>
	<%= f.text_field :user_id, value: current_user.id %>
	</p>

	<p> <%= f.submit "Like" %> 
	<span id="likes"> <%= pluralize(@post.likes.count, "Like") %></span></p>
	<% end %>

	
	 <div class = 'Show_likes'>
	<% @post.likes.order("created_at DESC").each do |like| %>
	<p>

	<strong>Liked By:</strong><%= like.user.name%>
	</p>
	<% end %>
	</div>

<!-- 	<h4> 
	<%= pluralize(@post.comments.count, "Comment") %>
	</h4> -->
	<h4>Comments</h4>

	<% @post.comments.order("created_at DESC").each do |comment| %>
	<p>
	<strong><%= comment.user.name%></strong> : <%= comment.body %>
	</p>
	<% end %>



	<%= form_for ([@post, @post.comments.build]) do |f| %>
	<p class = "hidden">
	<%= f.label :user_id, value: current_user.id  %>
	<%= f.text_field :user_id, value: current_user.id %>
	</p>
	<p>

	<%= f.text_field :body %><%= f.submit "Comment" %>
	</p>	
	
	<% end %>


	<% if current_user == @post.user%>

	<%= link_to 'Edit', edit_post_path(@post) %> | 

	<%end%>

	<%= link_to 'Back', posts_path %><% if current_user == @post.user%><td> | <%= link_to 'Delete', @post, method: :delete, data: { confirm: 'Are you sure?' } %></td><%end%>
